<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298176635969-bhrnkculjnu238costrup1bcim01okd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298176635969-bhrnkculjnu238costrup1bcim01okd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBwBOTEn51cFGf06cG_-QUH5a-skR-T8FY</string>
	<key>GCM_SENDER_ID</key>
	<string>298176635969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialUiKit</string>
	<key>PROJECT_ID</key>
	<string>social-posts-acb56</string>
	<key>STORAGE_BUCKET</key>
	<string>social-posts-acb56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298176635969:ios:84bff9f43e343d9f2252c0</string>
</dict>
</plist>